samarthgvshetty@gmail.com ; n@hgh.com




NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:5173
API_URL=http://localhost:4000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/reachinbox?schema=public
REDIS_URL=redis://localhost:6379

JWT_SECRET=change-me-to-a-long-random-secret
COOKIE_NAME=reachinbox_session

GOOGLE_CLIENT_ID= 102621244546-11a2vpo05ler367lt0meud08v969qd5e.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback

SLACK_CLIENT_ID=12162701366274.12162718692002
SLACK_CLIENT_SECRET=febd5a6171c70f6bb9f5bc3190b6fcb6

SLACK_REDIRECT_URI=http://localhost:4000/api/slack/oauth/callback
SLACK_SCOPES=chat:write,chat:write.customize,channels:read,groups:read

ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_API_KEY=
ELASTICSEARCH_INDEX=emails

ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=
ETHEREAL_PASSWORD=

WORKER_CONCURRENCY=5
MAX_EMAILS_PER_HOUR=200
MIN_EMAIL_DELAY_MS=2000
BULL_BOARD_USERNAME=admin
BULL_BOARD_PASSWORD=change-me
